https://github.com/vim-scripts/AutoComplPop.git 
https://github.com/scrooloose/nerdcommenter.git 
https://github.com/tomtom/tlib_vim.git
https://github.com/bling/vim-airline.git
https://github.com/garbas/vim-snipmate.git
https://github.com/tpope/vim-surround.git 
https://github.com/lubaogui/lubanr-commenter.git
https://github.com/scrooloose/nerdtree.git
https://github.com/MarcWeber/vim-addon-mw-utils.git
https://github.com/asins/vim-dict.git
https://github.com/honza/vim-snippets.git
https://github.com/szw/vim-tags.git
